
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9fafa;
    }

    .donbass1{
        height: 21.8rem;
        background-size: cover;
        background-position: center;
        margin-bottom: 0;
        position: relative;
        background-image: url(../img/donbas4.jpg);
    }
    
    
    a:link{
        color: rgb(255, 255, 255); 
        text-decoration:#e9fafa;
    }
 

    
    section{
        display: block;
        padding: 1.5rem 0;
        background-color:#fae2f8;
    }
    
    .container{
        width: 95.6%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    
    .title_introduction h1{
        color:black;
        font-family: Ermilov, sans-serif;
        font-size: 3.3rem;
        font-weight: 700;
        line-height: 1;
        /*всі букви великі*/
        text-transform: uppercase;
        margin-top: 0;
    }
    
    .text_introduction{
        color:black;
        font-family: Ermilov,sans-serif;
        font-size: 1.1rem;
        line-height: 1.5;
        font-weight: 300;
        line-height: 2;
        text-transform: uppercase;
        margin: 0;
    }
    
    .img-introduction{
        margin-top: 2.7rem;
        position: relative;
        float: right;
        /*відступ згори*/
        margin: 0 0 0 15px;
    }
    
    .img1_introduction{
        display: block;
        width: 110%;
        height: auto;
        margin-top: 10%;
    }

    .img2_introduction{
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        right: 0;
        left: -10%;
        top: 50%;
        /* розташування по вертикалі відносно більшої картинки */
        transform: translateY(50%);
        margin: 0;
    }    
    
    
    .fact1{
        background-color:#f8eef7;
        margin-left: auto;
        margin-right: auto;
        left: 80px;
    }
    
    .img-fact1{
        margin-bottom: 1.8rem;
        position: relative;
        float: right;
        margin-top: 15%;

    }
    
    .img1_fact1{
        display: block;
        width: 100%;
        height: auto;
    }

    .img2_fact1{
        display: block;
        width: 90%;
        height: auto;
        position: absolute;
        right: 0;
        left: -10%;
        top: 50%;
        /* розташування по вертикалі відносно більшої картинки */
        transform: translateY(40%);
        margin: 0;
    }    


    .fact2{
        background-color:#fae2f8;
        margin-left: auto;
        margin-right: auto;
    }
    
    
    .img-fact2{
        margin-top: 2.7rem;
        position: relative;
    }
    
    .img1_fact2{
        display: block;
        width: 120%;
        height: auto;
        margin-top: 5%;
    }



    .footer{
        background-color: cornsilk;
        width: 100%;
        left: 0;
        bottom: 0;
        text-align: center;
     }
    
    .footer_row{
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
    }
    