
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e9fafa;
    }

    .polissya1{
        height: 21.8rem;
        background-size: cover;
        background-position: center;
        margin-bottom: 0;
        position: relative;
        background-image: url(../img/zutomur1.jfif);
    }
    
    
    a:link{
        color: rgb(255, 255, 255); 
        text-decoration:#e9fafa;
    }
 

    
    section{
        display: block;
        padding: 1.5rem 0;
        background-color:#8d846b;
    }
    
    .container{
        width: 95.6%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    
    .title_introduction h1{
        color:black;
        font-family: Ermilov, sans-serif;
        font-size: 3.3rem;
        font-weight: 700;
        line-height: 1;
        /*всі букви великі*/
        text-transform: uppercase;
        margin-top: 0;
    }
    
    .text_introduction{
        color:black;
        font-family: Ermilov,sans-serif;
        font-size: 1.1rem;
        line-height: 1.5;
        font-weight: 300;
        line-height: 2;
        text-transform: uppercase;
        margin: 0;
    }
    
    .img-introduction{
        margin-top: 2.7rem;
        position: relative;
        float: right;
        /*відступ згори*/
        margin: 0 0 0 15px;
    }
    
    .img1_introduction{
        display: block;
        width: 110%;
        height: auto;
    }
    
    
    .fact1{
        background-color:#a39d8c;
        margin-left: auto;
        margin-right: auto;
        left: 80px;
    }
    
    .title_fact1 h1{
        color:black;
        font-family: Ermilov, sans-serif;
        font-size: 3.3rem;
        margin-bottom: 5%;
        font-weight: 1.55rem;
        width: fit-content;
        line-height: 1;
        text-transform: none;
        margin: 0 0 2%;
        margin-top: 15%;
    }
    
    .text_fact1{
        color:black;
        font-family: Ermilov,sans-serif;
        font-size: 1.1rem;
        position: relative;
        line-height: 1.5;
        font-weight: 300;
        width: fit-content;
        line-height: 1.67;
        text-transform: uppercase;
        margin: 0;
    }
    
    .img-fact1{
        margin-bottom: 1.8rem;
        position: relative;
        float: right;
        margin-top: 5%;

    }
    
    .img1_fact1{
        display: block;
        width: 100%;
        height: auto;
    }

    .img2_fact1{
        display: block;
        width: 120%;
        height: auto;
        position: absolute;
        right: 0;
        left: -35%;
        top: 50%;
        /* розташування по вертикалі відносно більшої картинки */
        transform: translateY(35%);
        margin: 0;
    }    

    .fact2{
        background-color:#8d846b;
        margin-left: auto;
        margin-right: auto;
    }
    
    .title_fact2 h1{
        color:black;
        font-family: Ermilov, sans-serif;
        font-size: 3.3rem;
        margin-bottom: 1.5rem;
        font-weight: 700;
        width: fit-content;
        line-height: 1;
        /* margin: 0 0 1rem; */
        margin-top: 0%;
    }
    
    .text_fact2{
        color:black;
        font-family: Ermilov,sans-serif;
        font-size: 1.1rem;
        line-height: 1.5;
        font-weight: 300;
        width: fit-content;
        line-height: 1.67;
        text-transform: uppercase;
        margin: 0;
    }
    
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    
    .img-fact2{
        margin-top: 2.7rem;
        position: relative;
        float: right;
        margin: 0 0 0 15px;
    }
    
    .img1_fact2{
        display: block;
        width: 100%;
        height: auto;
        margin-top: 15%;
    }

    .img2_fact2{
        display: block;
        width: 85%;
        height: auto;
        position: absolute;
        right: 0;
        left: 50%;
        top: 50%;
        /* розташування по вертикалі відносно більшої картинки */
        transform: translateY(-100%);
        margin: 0;
    }    

    
    
    .fact3{
        background-color:#a39d8c;
        margin-left: auto;
        margin-right: auto;
        left: 80px;
    }
    
    .title_fact3 h1{
        color:black;
        font-family: Ermilov, sans-serif;
        font-size: 3.3rem;
        margin-bottom: 5%;
        font-weight: 1.55rem;
        width: fit-content;
        line-height: 1;
        text-transform: none;
        margin: 0 0 2%;
        margin-top: 15%;
    }
    
    .text_fact3{
        color:black;
        font-family: Ermilov,sans-serif;
        font-size: 1.1rem;
        position: relative;
        line-height: 1.5;
        font-weight: 300;
        width: fit-content;
        line-height: 1.67;
        text-transform: uppercase;
        margin: 0;
    }
    
    .img-fact3{
        margin-bottom: 1.8rem;
        position: relative;
        float: right;
        margin-top: 20%;

    }

    .img1_fact3{
        display: block;
        width: 100%;
        height: auto;
        margin-top:20%;
    }



    .footer{
        background-color: cornsilk;
        width: 100%;
        left: 0;
        bottom: 0;
        text-align: center;
     }
    
    .footer_row{
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
    }
    